hr {
    color: $grey;
    border-style: solid;
    border-bottom: none;
    margin-top: 25px;
    width: 100%;
}

html {
    animation: bkg_to_black .5s $neon_delay forwards;
    background-color: transparent;
}

iframe {
    animation: border_to_neon .5s $neon_delay forwards;
}