#social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px auto;
    max-width: 80vw;
    padding: 0;

    @include min-width($screen-md-min) {
        justify-content: center;
        padding: 0 15px;
    }

    li {
        padding: 0 10px;

        @include min-width($screen-md-min) {
            padding: 0 15px;
        }

        i {
            color: $black;
            font-size: 44px;
            transition: $transition-color;

            @include min-width($screen-lg-min) {
                font-size: 40px;
            }

            &.fa-facebook {
                &:hover {
                    color: $facebookBlue;
                }
            }
            &.fa-bandcamp {
                &:hover {
                    color: $bandcampGreen;
                }
            }
            &.fa-soundcloud {
                &:hover {
                    color: $soundcloudOrange;
                }
            }
            &.fa-instagram {
                &:hover {
                    color: $instagramPurple;
                }
            }
        }
    }
}